
			<section id="about">

				<header class="special container">
					<h2>About Laurie</h2>
					<p>
						Laurie is a software engineer who started as a mathematician. Depending on the day, she can be found
						using any number of technologies
						from different languages to frameworks and other support tools. She currently works as a developer
						and consultant with Ten Mile Square Technologies in the Washington DC Metro area. 
							<br/>
							<br/>

						In 2017 a local, first year conference was soliciting speakers to talk about legacy system replacement.
						As a female engineer, Laurie wanted to get more diverse speakers on the stage and decided to submit a talk
						based on the large and varied legacy systems she had worked on over the years. From there, she was bit by the
						speaking bug!
						<br/>
						<br/>

						Now, Laurie travels around speaking on the variety of technical challenges she has faced in her career.
						In her free time, she involves herself in local technology groups including facilitating a
						<a href="https://girlswhocode.com/">Girls Who Code</a> club. Then she sits back with a cupcake and plays
						board games with close friends.
					</p>
				</header>
		</section>
