<header id="header">
				<h1 id="logo"><a href="/">Laurie Barth</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/speaking.html">Speaking</a></li>
            <li><a href="/blog.html">Blog</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
<section id="banner" {% if page.image %}
	style="background:url(/img/headers/{{ page.image }}) no-repeat top right scroll;background-size:cover;"
	{% endif %}>
	<div class="inner">
		<header>
				<h2>{{ page.title }}</h2>
			</header>
			{% if page.description %}

				<p>{{ page.description }}</p>
				{% endif %}
	</div>
</header>
</section>
